* {
  box-sizing: border-box;
}

@font-face {
  font-family: "王漢宗細園繁體";
  src: url(../font/wt006.ttf);
  unicode-range: U+4E00-9FFF;
}

body {
  font-family: 王漢宗細園繁體, sans-serif;
  background-color: rgba(204, 204, 189, 0.6);
  scroll-behavior: smooth;
  position: relative;
}

li {
  list-style-type: none;
}

li a {
  color: rgb(77, 38, 121);
  text-decoration: none;
}


p {
  color: rgb(77, 38, 121);
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 30px;
}

p.writing {
  display: block;
  background-color: rgba(17, 3, 56, 0.4);
  padding: 5px;
  line-height: 45px;
  font-family: 'Liu Jian Mao Cao', cursive;
  font-size: 34px;
  writing-mode: vertical-rl;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 0px #000;
}

h3 {
  color: rgb(77, 38, 121);
  font-size: 32px;
}

span.key {
  font-size: 20px;
}

#contentWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 3440px;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 3150px) {
  #contentWrap {
    overflow-x: hidden;
  }
}

/*----- <nav> -----*/
#navSwitch {
  width: 120px;
  height: 60px;
  position: fixed;
  top: 15px;
  z-index: 500;
  cursor: pointer;
}

#navSwitch svg {
  z-index: 1500;
}

#navSwitch rect {
  fill: rgba(222, 222, 222, 0.9);
}

nav {
  position: fixed;
  top: 95px;
  z-index: 500;
}

#navBg {
  fill: rgba(222, 222, 222, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 200;
}

nav ul {
  /* background-color: rgba(204, 204, 189, 0.9); */
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 376px;
  z-index: 600;
  opacity: 0;
}

nav ul li {
  letter-spacing: 8px;
  color: rgb(77, 38, 121);
  margin: 5px auto;
  padding: 10px;
  width: 280px;
  z-index: 600;
  transition: a11 3000ms;
}

nav ul li:hover {
  border-bottom: 3px solid #fff;
  /* text-shadow: 0 0 5px #fff,
               0 0 5px #fff,
               1px 1px 1px rgba(50, 10, 90, 1),
               2px 2px 2px rgba(50, 10, 90, 1),
               3px 3px 3px rgba(50, 10, 90, 1); */
}

/*----- <section id="head"> -----*/
#head {
  max-width: 1680px;
  width: 100%;
  height: 100%;
  position: relative;
  transition: height 500ms;
}

#headImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: height 500ms;
}

@media screen and (max-width: 640px) {
  #head {
    display: grid;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
}


/*-- headerImg 的背景 canvas --*/
canvas {
  display: none;
}

/*-- h1 logo --*/
h1, h1 a {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  color: rgba(204, 204, 189, 1);
  width: 160px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
}

/*----- <svg id="logo"> 中間的 logo 字樣 -----*/
#logo path, .h2Title path {
  stroke: #fff;
  fill: none;
}

#logo {
  align-self: flex-start;
  margin: 59px auto;
  z-index: 50;
}

/*-- logo 字樣的紫色背景 --*/
#base {
  fill: rgba(77, 38, 121, 1);
  stroke: none;
}

#baseBorder {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}

#logo .corner {
  fill: rgba(77, 38, 121, 0.8);
  stroke: #fff;
}

/*-- bset restaurant --*/
.best {
  margin: 0px auto 30px;
}

.best text {
  opacity: 0;
  font-weight: 100;
  fill: rgba(255, 255, 255, 1);
}

.rectR, .rectL {
  fill: rgba(255, 255, 255, 1);
}

.h2Title rect {
  fill: rgb(77, 38, 121);
}

/*----- login -----*/

#login, form {
  display: flex;
  flex-direction: column;
}

#login {
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}

#login h3 {
  margin: 50px auto 10px;
  background-color: rgba(82, 75, 63, 0.15);
  padding: 15px;
}

input:focus {
  outline:none;
  color: rgb(77, 38, 121);
  border-bottom: 8px solid rgb(77, 38, 121);
}

label {
  margin-top: 35px;
}

small {
  color: rgb(77, 38, 121);
  font-size: 20px;
  font-weight: bold;
}

input {
  border: none;
  border-bottom: 2px solid rgb(77, 38, 121);
  padding: 15px;
  width: 300px;
  font-size: 16px;
  background: transparent;
  transition: all 500ms;
}

.btnWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
}

.btnWrap input {
  width: 100px;
  color: rgb(77, 38, 121);
  font-weight: bold;
  border: 2px solid rgb(77, 38, 121);
}

.btnWrap input:hover {
  background-color: rgb(77, 38, 121);
  color: aliceblue;
  transform: translate(-2px, 0px);
  box-shadow: 2px 2px 0px rgb(77, 38, 121);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  #login {
    height: 100vh;
    margin: 0px;
  }

  #login h3 {
    margin: 0px;
  }
}

/*----- footer -----*/
#footer {
  max-width: 1680px;
  width: 100%;
}

footer {
  max-width: 1200px;
  width: 100%;
  padding-bottom: 30px;
  position: relative;
}

#mainFooter, #tailFotter {
  display: flex;
  flex-direction: row;
}

#mainFooter > div, #tailFotter > p {
  margin-top: 50px;
  margin-left: 100px;
  width: calc(100% / 3);
}

#mainFooter a {
  text-decoration: none;
}

.item, #tailFotter > p {
  color: rgba(77, 38, 121, 0.65);
  margin-top: 50px;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 1px 1px 0px gray;
}

.itemContent {
  color: rgba(77, 38, 121, 1);
  margin-top: 5px;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 1px 1px 0px rgba(77, 38, 121, 1);
}

#follow li {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 500ms;
}

#follow {
  display: flex;
  flex-direction: row wrap;
  margin-top: 10px;
}

#follow li:nth-of-type(1) {
  background: url(../image/facebook2.svg) #fff center/35px 35px no-repeat;
}

#follow li:nth-of-type(2) {
  background: url(../image/instagram2.svg) #fff center/35px 35px no-repeat;
}

#follow li:nth-of-type(3) {
  background: url(../image/twitter2.svg) #fff center/35px 35px no-repeat;
}

#follow li:nth-of-type(4) {
  background: url(../image/whatsapp2.svg) #fff center/35px 35px no-repeat;
}

#follow li:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 0px #fff;
}

.footerBg {
  background-color: rgba(82, 75, 63, 0.15);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1200px;
  height: 100%;
  z-index: -5;
}

@media screen and (max-width: 1200px) {
  #mainFooter > div, #tailFotter > p {
    margin-left: 25px;
  }
}

@media screen and (max-width: 767px) {
  footer {
    padding: 30px 0;
  }

  #mainFooter, #tailFotter, #mainFooter > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #tailFotter {
    margin-top: 20px;
  }

  #tailFotter > p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }

  #mainFooter {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  #mainFooter > div, #tailFotter > p {
    margin: 0px;
    width: 100%;
  }

  .itemContent {
    margin-top: 0px;
  }

  .item {
    margin-top: 15px;
  }

  #follow {
    justify-content: space-around;
    width: 100%;
    padding: 0 50px;
  }

  #follow li {
    margin-right: 0px;
  }
}
